.box-dangky {
    width: 600px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.9) 0px 10px 20px 0px;
}
.box-dangky h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
}
.box-dangky input[type="text"],
.box-dangky input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 2px solid #fff;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: #fff;
    border-radius: 25px;
    transition: 0.25s;
    font-size: 18px;
}
.box-dangky input[type="text"]:focus,
.box-dangky input[type="password"]:focus {
    width: 300px;
    border-color: #ffad00;
}
.box-dangky input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #fff;
    padding: 10px 40px;
    outline: none;
    color: #fff;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
}
.box-dangky input[type="submit"]:hover {
    background: #ffad00;
    color: #fff;
}
